<!DOCTYPE html>
<html>
  <head>
    <title>Creative Project 3</title>
    <link rel="stylesheet" href="styles1.css">
  </head>
  <body>

    <h1>Currency Conversion</h1>
    <hr class="mainrule">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script text="type/javascript" src="script.js">
    </script>


    <p class="exchange">
    <img src="dollar.png" alt="Sample photo" width="175" height="150">
    <img src="green-2304007_960_720.png" alt="Sample photo" width="175" height="150">
    <img src="euro-1159947_960_720.png" alt="Sample photo" width="175" height="150">
  </p>
    <h3>Convert Dollars to Euros:</h3>

    <form v-on:submit.prevent="inputDollars">
      <label>Enter an amount in US Dollars to convert to Euros</label>
      <input v-model="inputvalue" placeholder=""></p>
      <button type="submit">Submit</button>
    </form>
    <div v-for="finalresults in results[number]">
      <p>{{results.finalresults}}</p>
    </div>


  </body>

  <div class="footer">
    <p><a href="https://github.com/newellrd/creativeproject2">
    GitHub Repository</a></p>
  </div>
</html>
